* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    justify-content: center;
    display: flex;
    color: #47585b;
    font-size: 35px;
    height: 100px;
    align-items:center;
}

.tri {
    color: #ffba08;
}

.conteiner {
    background: no-repeat center/100% url('./imagens/EXdXLrZXS9Q.png');
    height: 100vh;
}

.Europ {
    position: absolute;
    bottom: 150px;
    left: 0;
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.74%, #fff 400%);
    font-size: 30px;
    color: #f5f8fa;
}

main {
    display: flex;
}



